$bg-primary: #c5ab5f;
$bg-primary-light: rgba(197,171,95,0.1);
$bg-black: #111;
$bg-white: #fff;
$bg-grey: #d1d1d1;
$bg-gold: #aca56c;
$bg-orange: #d0a85e;
$bg-blue: #6c9dac;
$bg-pink: #ac6ca0;
$bg-green: #6cac7b;
$border-black: #111;
$border-grey: #ddd;
$border-primary: #c5ab5f;
$border-white: #fff;
$font-color-base: #111;
$font-color-white: #fff;
$font-color-grey: #666;
$font-family-jp: "Noto Sans JP";